<hr class="mx-auto w-1/2 bg-black dark:bg-white" />

<section id="contact" class="widescreen:section-min-height tallscreen:section-min-height my-12 scroll-mt-16 p-6">
  <h2 class="mb-6 text-center text-4xl font-bold text-slate-900 sm:text-5xl dark:text-white">Contact Us</h2>
  <form onsubmit="handleMailto(event)" class="max-4-xl items-left mx-auto flex flex-col gap-4 text-2xl sm:text-3xl">
    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject" required minlength="3" maxlength="60" placeholder="Your Subject" class="w-full rounded-xl border border-solid border-slate-900 p-3 text-2xl text-black sm:text-3xl dark:border-none dark:bg-white" />
    <label for="message">Message:</label>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message" required class="w-full rounded-xl border border-solid border-slate-900 p-3 text-2xl text-black sm:text-3xl dark:border-none dark:bg-white"></textarea>
    <button class="dark:border:none w-48 rounded-xl border border-solid border-slate-900 bg-lime-500 p-3 text-white hover:bg-lime-600 active:bg-lime-400 cursor-pointer">Submit</button>
  </form>
</section>

<script>
function handleMailto(event) {
  console.log('handleMailto', event)
  event.preventDefault();

  const subject = encodeURIComponent(document.getElementById('subject').value);
  const message = encodeURIComponent(document.getElementById('message').value);
  const mailtoLink = `mailto:<%- site.email %>?subject=${subject}&body=${message}`;

  console.log('mailtoLink', mailtoLink)

  window.location.href = mailtoLink;
}
</script>
