<select class="currencySelect max-w-45" onchange="selectCurrency(this.value)">
  <% currencies.forEach(({currency, symbol}) => { %>
    <option value="<%- currency %>" <%- currency === site.baseCurrency ? ' selected' : '' %>><%- currency %> <%- symbol %></option>
  <% }) %>
</select>
