<select class="max-w-45" onchange="selectLanguage(this.value)">
  <% languages.forEach(({lang, label})=> { %>
    <option value="<%- lang %>"<%- lang===language ? ' selected' : '' %>><%- label %></option>
  <% }) %>
</select>
