<% if (site.paypalClientID && !product.disabled && !product.out_of_stock) { %>
<div class="relative z-10">
  <div class="paypalButtonContainer" data-pk="<%- product.pk %>" id="paypalButtonContainer-<%- product.pk %>" class="w-full -mx-2 mb-1 px-3 pt-4"></div>
</div>
<% } %>
