<h1 class="text-3xl font-medium pt-4">Shipping policy</h1>

<p class="mt-4">Generally, we will send the items as soon as possible once your payment is completed.</p>

<p class="mt-4">We do not guarantee delivery time on all international shipments due to differences in customs clearing times in individual countries, which may affect how quickly your product is inspected.</p>

<p class="mt-4">We ship anywhere in the world so it will depend on your country of residence and not all of our merchandise ships from the same location such as the United States, Europe, China, Australia, etc... It may take anywhere from 7-14 business days on average. This is highly dependent on the customs and import process in your country.</p>

<p class="mt-4"><b>Shipping Method:</b> ePacket, EMS, USPS</p>

<h2 class="text-xl font-medium mt-6">Delivery Time:</h2>

<ol class="list-decimal list-inside mt-4">
  <li>EMS usually takes up to 20 working days(not including holidays and weekends)</li>
  <li>ePacket usually takes 7-15 working days(not including holiday and weekend)</li>
  <li>USPS usually takes 1-5 working days(not including holiday and weekend)</li>
</ol>

<p class="mt-4"><b>Note:</b> Sometimes it may be delayed by many unsteady factors like customs, flights, weather, etc which are uncontrollable. Please be patient and you will receive the parcel.</p>


<h2 class="text-xl font-medium mt-6">Shipping FAQ</h2>

<h3 class="text-md font-medium mt-6">Is shipping included in the prices?</h3>

<p class="mt-4">Yes, free shipping on all orders.</p>

<h3 class="text-md font-medium mt-6">How do I change my delivery address?</h3>

<p class="mt-4">Please contact us as soon as you realize you need to change the delivery address as once it is shipped we cannot change the address. Contact Customer Service (email to <%= site.email %>) Immediately!</p>

<h3 class="text-md font-medium mt-6">How do I cancel an order?</h3>

<p class="mt-4 mb-4">Please contact us as soon as you realize you need to cancel as once it is shipped we cannot cancel it for you. Contact Customer Service.</p>
